@import "tailwindcss";

@font-face {
	font-family: "super-arena";
	src: url("/fonts/super-arena-font/super-arena.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.super-arena {
	font-family: "super-arena", sans-serif;
}

@font-face {
	font-family: "hand-coffe";
	src: url("/fonts/hand-coffe-font/hand-coffe.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

.hand-coffe {
	font-family: "hand-coffe", sans-serif;
}
